{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/navigation.html' %}
{% include 'partials/hero.html' %}
{% include 'partials/blog-feed.html' %}
{% include 'home/partials/service-list.html' %}

{% endblock %}

{% block extra_js %}
    <script type="importmap">
      {
        "imports":
        {
          "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
        }
      }
    </script>
    <script>
      var brushFile = "{% static 'home/img/brush01.png' %}";
      var bgImage = "{% static 'home/img/james-fishing.webp' %}";
    </script>
    <script src="{% static 'home/js/script.js' %}" type="module"></script>  
{% endblock %}