{% load static %}
<section class="thoughts container mx-auto py-[5rem] flex flex-col justify-between gap-8">
  <div class="flex flex-row justify-between gap-4">
    <div class="basis-1/2">
      <img src="" alt="Placeholder Image" />
    </div>
    <div class="basis-1/2">
      <h2>Lorem Ipsum</h2>
      <div class="flex flex-row gap-4">
        <span>Lorem</span>
        <span>Lorem</span>
        <span>Lorem</span>
        <span>Lorem</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt hic provident ad quos autem optio distinctio vitae voluptas ex vero, deleniti iste dignissimos minus delectus explicabo! Voluptas, dolores voluptate.</p>
    </div>
  </div>
  
  <div class="flex flex-row justify-between gap-4">
    <div class="basis-1/2">
      <h2>Lorem Ipsum</h2>
      <div class="flex flex-row gap-4">
        <span>Lorem</span>
        <span>Lorem</span>
        <span>Lorem</span>
        <span>Lorem</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt hic provident ad quos autem optio distinctio vitae voluptas ex vero, deleniti iste dignissimos minus delectus explicabo! Voluptas, dolores voluptate.</p>
    </div>
    <div class="basis-1/2">
      <img src="" alt="Placeholder Image" />
    </div>
  </div>
  
  <div class="flex flex-row justify-between gap-4">
    <div class="basis-1/2">
      <img src="" alt="Placeholder Image" />
    </div>
    <div class="basis-1/2">
      <h2>Lorem Ipsum</h2>
      <div class="flex flex-row gap-4">
        <span>Lorem</span>
        <span>Lorem</span>
        <span>Lorem</span>
        <span>Lorem</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt hic provident ad quos autem optio distinctio vitae voluptas ex vero, deleniti iste dignissimos minus delectus explicabo! Voluptas, dolores voluptate.</p>
    </div>
  </div>
</section>