{% load static %}
<nav class="absolute top-0 w-full left-0 z-30 p-5">
  <div class="container mx-auto">
    <div class="w-full flex flex-row justify-between">
      <ul class="w-full flex flex-row justify-between">
        <li><a class="text-white" href="{% url 'home' %}">Home</a></li>
        <li><a class="text-white" href="{% url 'about' %}">About</a></li>
        <li><a class="text-white" href="{% url 'thoughts' %}">Thoughts</a></li>
        <li>
          <ul class="socials flex flex-row justify-between flex-nowrap gap-4">
            <li><a class="text-white" href="#">MAIL</a></li>
            <li><a class="text-white" href="#">TW</a></li>
            <li><a class="text-white" href="#">IG</a></li>
            <li><a class="text-white" href="#">LI</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>