{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| About
{% endblock%}

{% block meta_desc %}
Discover unforgettable guided fly fishing adventures with R Flyfishing. Expert guides, stunning locations, and a passion for the art of fly fishing—perfect for anglers of all levels. Book your trip today!
{% endblock %}

{% block content %}
<section class="px-4 sm:px-6 lg:px-8 pt-20 pb-16 text-center lg:pt-32 dark-bg-overlay relative z-10"
  style="background-image: url('{% static 'home/img/placeholder.webp' %}'); background-size: cover; background-position: center;">
  <div class="container mx-auto relative z-20">

    <p class="mx-auto -mt-4 max-w-2xl text-lg sm:mt-6 text-white">
      Welcome to JR Fly Fishing
    </p>
    <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight sm:text-7xl text-white">
      About Us
    </h1>
    <p class="mx-auto mt-9 max-w-2xl text-lg sm:mt-6 text-white">
      Experience the art of fly fishing with JR Fly Fishing. Our expert guides, world-class locations, and passion for the sport make every trip unforgettable. Book your adventure today!
    </p>
  </div>
</section>

<section class="py-[5rem] container mx-auto p-5">
  <h2 class="font-bold text-3xl md:text-4xl pb-5">Experience the Art of Fly Fishing</h2>
  <p>At JR Fly Fishing, we are more than just a guided fishing trip company - we are storytellers of the stream, enthusiasts of the cast, and lifelong lovers of the serene waters where fly fishing comes alive. Founded by passionate anglers with decades of combined experience, our mission is to share the joy, skill, and tranquility of fly fishing with anglers of all levels.</p>
  <p><strong>A Legacy of Expertise</strong></p>
  <p>Our team of guides has spent countless hours mastering the art of fly fishing. With years of experience fishing in diverse waters and seasons, we bring an unparalleled understanding of the techniques, gear, and local ecosystems. Whether you're a beginner eager to cast your first fly or a seasoned angler looking to refine your skills, our guides will ensure your experience is educational, rewarding, and unforgettable.</p>
  <p><strong>Our Passion for Fly Fishing</strong></p>
  <p>Fly fishing isn't just our profession—it's our way of life. We are captivated by the beauty of the sport, from the graceful arc of a cast to the thrill of landing a catch. This passion drives us to deliver the best possible experiences, creating memorable adventures that connect you with nature and the timeless tradition of fly fishing.</p>
  <p><strong>World-Class Locations</strong></p>
  <p>JR Flyfishing takes you to some of the most breathtaking fly fishing destinations, from crystal-clear rivers to secluded lakes. Our intimate knowledge of these locations allows us to tailor each trip to match your skill level and goals while ensuring a peaceful and enriching experience.</p>
  <p><strong>Why Choose Us?</strong></p>
  <p>We adapt our trips to your unique needs, ensuring you get the most out of your time on the water.</p>
  <p>We deeply respect the waters we fish and prioritize sustainable techniques to preserve them for future generations</p>
  <p>Beyond fishing, we aim to build a community of passionate anglers who appreciate the art, skill, and camaraderie of fly fishing.</p>
  <p>At JR Flyfishing, we believe every trip tells a story. Let us help you write your next chapter, one cast at a time.</p>
  <p><strong>Join us on the water—where memories are made, and passions are ignited.</strong></p>
</section>
{% endblock %}