@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  font-family: "Fragment Mono", monospace;
}

.dark-bg {
  background-color: rgba(0,0,0,0.1);
}

span.line {
  margin-top: 50px;
  display: block;
  width: 185px;
  height: 2px;
  background-color: #fff;
}

.button-arrow {
  background: #eee;
  padding: 2px;
  padding-left: 15px;
  padding-right: 2px;
  border-radius: 20px;
  font-size: 14px;
  img {
    display: inline;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  &:hover img {
    transform: rotate(45deg);
  }
}

.cats {
  padding: 20px 0;

  a {
    border: 1px solid #eee;
    padding: 2px 15px;
    border-radius: 15px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: #eee;
    }
  }
}