{% extends 'base.html' %}
{% load static %}

{% block meta_desc %}
JR Flyfishing provides guided fishing tours of the best rivers in Cornwall. We offer a range of services including fly fishing lessons, guided fishing trips and more.
{% endblock %}

{% block title %}
| Experiences
{% endblock %}

{% block content %}
<section class="px-4 sm:px-6 lg:px-8 pt-20 pb-16 text-center lg:pt-32 dark-bg-overlay relative z-10"
  style="background-image: url('{% static 'home/img/placeholder.webp' %}'); background-size: cover; background-position: center;">
  <div class="container mx-auto relative z-20">

    <p class="mx-auto -mt-4 max-w-2xl text-lg sm:mt-6 text-white">
      Gain a new understanding of the art of fly fishing
    </p>
    <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight sm:text-7xl text-white">
      Experiences
    </h1>
    <p class="mx-auto mt-9 max-w-2xl text-lg sm:mt-6 text-white">
      With expert guidance, access to pristine waters, and a passion for the sport, we'll help you hone your technique, land your dream catch, and immerse yourself in the beauty of nature.
    </p>
  </div>
</section>
<section>
  <div class="container flex flex-col md:flex-row mx-auto p-5 gap-4 py-[5rem]">
    <div class="basis-1/2 flex flex-col justify-center">
      <h2 class="font-semibold text-2xl">Get Started Easily</h2>
    </div>
    <div class="basis-1/2 md:text-center text-xl">
      <p>Embark on an unforgettable flyfishing adventure designed for anglers of all skill levels. Whether you're a seasoned enthusiast looking to refine your technique or a beginner eager to learn the ropes, our guided tours offer expert instruction and hands-on experience.</p>
    </div>
  </div>
  <div class="container flex flex-col md:flex-row mx-auto p-5 gap-8 md:py-[5rem] py-3">
    <div class="basis-1/4 flex flex-col justify-center">
      <h3 class="font-semibold text-2xl pb-3">Expert Knowledge</h3>
      <p>We offer unparalleled insights into local fishing spots, ensuring you fish in the most productive areas. We are familiar with seasonal patterns, water conditions, and the habits of local fish species, maximizing your chances of success.</p>
    </div>
    <div class="basis-1/4 flex flex-col justify-center">
      <h3 class="font-semibold text-2xl pb-3">Personalized Coaching and Techniques</h3>
      <p>Whether you're a beginner or an experienced angler, guides tailor their coaching to your skill level. You'll learn new techniques, improve your casting, and pick up valuable tips that can enhance your fishing skills beyond the tour.</p>
    </div>
    <div class="basis-1/4 flex flex-col justify-center">
      <h3 class="font-semibold text-2xl pb-3">Access to Premium Equipment</h3>
      <p>We provide high-quality fishing gear, including rods, reels, and tackle. This not only saves you the hassle of bringing your own but also allows you to try equipment suited to the environment and target species.</p>
    </div>
    <div class="basis-1/4 flex flex-col justify-center">
      <h3 class="font-semibold text-2xl pb-3">Stress-Free Experience</h3>
      <p>Guides handle all the logistics, from navigating to the best spots to complying with local fishing regulations. This allows you to focus solely on the joy of fishing and soaking in the natural beauty of your surroundings.</p>
    </div>
  </div>
</section>

<section class="py-[5rem] flex max-md:flex-col flex-wrap container mx-auto service-list">
  {% if experiences %}
  {% for experience in experiences %}
  <a href="{% url 'experience_detail' experience.slug %}" class="overflow-hidden rounded-3xl basis-1/2 p-5 py-[5rem] service-breif" style="background-image: url('{{ experience.thumbnail.url }}')">
    <h2 class="font-semibold py-5 text-2xl">{{ experience.title }}</h2>
    <p class="z-20 relative font-semibold">{{ experience.excerpt }}</p>
  </a>
  {% endfor %}
  {% else %}
  <p>No experiences defined</p>
  {% endif %}
</section>
{% include 'partials/cta.html' %}
{% endblock %}