{% load static %}
<section class="thoughts container mx-auto py-[5rem] flex flex-col justify-between gap-8">
  {% for obj in homepage_thoughts %}
  <div data-aos="fade-up">
    <div class="flex flex-col md:flex-row justify-between gap-4 {% if forloop.counter|divisibleby:2 %}md:flex-row-reverse{% endif %}">
      <div class="md:basis-1/2 p-5">
        <img src="{{ obj.thumbnail_image.url }}" alt="Placeholder Image" class="h-auto max-w-full rounded-xl" />
      </div>
      <div class="md:basis-1/2 flex flex-col justify-center p-5">
        <h2 class="font-bold text-xl py-3">{{obj.title}}</h2>
        <div class="flex flex-row gap-4 cats">
          {% for cat in obj.categories.all %}
          <a href="#">{{ cat }}</a>
          {% endfor %}
        </div>
        <p>{{ obj.excerpt }}</p>
        <div class="pt-3">
          <a href="{% url 'thought_detail' obj.slug %}" class="button-arrow">Read More <img src="{% static 'img/arrow.jpg' %}" alt="Arrow Icon" /></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>