{% load static %}
<section class="py-[5rem] relative">
  {% include 'home/partials/svg-drop.html' %}
  <div class="container mx-auto relative z-20 p-5">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="basis-1/2">
        <h2 class="text-2xl md:text-6xl font-medium pb-5 max-w-[80%]">Services We Provide</h2>
        <p class="pb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem commodi doloremque iure deleniti impedit explicabo error illum aliquam, molestias, debitis, ab unde. Nemo temporibus error harum quasi alias. Magni, saepe?</p>
        <img src="{% static 'home/img/placeholder.webp' %}" alt="Placeholder Image" class="h-auto max-w-full rounded-xl" />
      </div>
      <div class="basis-1/2 gap-4 grid grid-cols-2 justify-between">
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Planning</h3>
          <p>I tailor the guided fishing trips to your skill level, preferences and goals.</p>
        </div>
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Gear Consultation</h3>
          <p>Advice on (and access to) rods, reels, lines, flies and other equipment</p>
        </div>
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Planning</h3>
          <p>I tailor the guided fishing trips to your skill level, preferences and goals.</p>
        </div>
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Gear Consultation</h3>
          <p>Advice on (and access to) rods, reels, lines, flies and other equipment</p>
        </div>
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Knot Tying and Rigging</h3>
          <p>Assisting with fly tying, leaders, tippets, and other gear setup</p>
        </div>
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Fish Handling</h3>
          <p>Demonstrating proper catch-and-release techniques to minimize fish stress and injury</p>
        </div>
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Nature Education</h3>
          <p>Learn about the local ecosystem and wildlife</p>
        </div>
        <div class="hover:drop-shadow hover:bg-white transition-all rounded-xl p-5">
          <h3 class="font-semibold pb-3">Advanced Techniques</h3>
          <p>Learn specific methods like nymphing, dry fly fishing, or streamer techniques</p>
        </div>
      </div>
    </div>
  </div>
</section>