{% load static %}

<section class="py-[5rem] relative">
  <svg width="469" height="572" viewBox="0 0 469 572" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-curve z-10">
    <path d="M-158 0.5H182.5C340.177 0.5 468 128.323 468 286C468 443.677 340.177 571.5 182.5 571.5H-158V0.5Z" stroke="#eee"/>
  </svg>
  <div class="container mx-auto relative z-20 p-5">
    <div class="flex flex-col md:flex-row justify-between gap-4 md:flex-row-reverse">
      <div class="basis-1/2 flex flex-col justify-center p-5">
        <img src="{% static 'home/img/placeholder.webp' %}" alt="Placeholder Image" class="h-auto max-w-full rounded-xl" />
      </div>
      <div class="basis-1/2 p-5">
        <h2 class="text-4xl md:text-6xl font-medium mb-5">Who are we?</h2>
        <p data-aos="fade-up">At JR Fly Fishing, we're more than just fishing guides - we're passionate anglers and lovers of the great outdoors. With years of experience exploring the rivers, lakes, and coastlines of Cornwall, we've developed a deep connection to the waters, the fish that call them home, and the incredible wildlife that thrives nearby.</p>

        <p data-aos="fade-up">Our founder, James, has spent a lifetime honing their skills and knowledge of fly fishing, not just as a hobby but as a way of life. They know every bend in the river, every hidden pocket where fish might rise, and every fly that's sure to get a bite. But beyond the thrill of the catch, they've cultivated a profound respect for the ecosystems we're lucky to explore.</p>
          
        <p data-aos="fade-up">We believe that a great fishing trip is about more than just reeling in your personal best - it's about experiencing the tranquility of nature, learning the art of fishing, and creating memories to last a lifetime. Whether you're a seasoned angler or casting your first fly, we're here to share our expertise, stories, and love for the sport.</p>
          
        <p data-aos="fade-up">Join us for a journey into the heart of Cornwall's most stunning fishing spots. Together, we'll discover not only the secrets of the water but also the beauty of the world around it. Let's create an adventure worth sharing.</p>
          
        <p data-aos="fade-up"><strong>Ready to cast off? Let's get started!</strong></p>
      </div>
    </div>    
  </div>
</section>