{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  <meta name="description" content="{% block meta_desc %}{% endblock %}">

  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{% static 'img/favicons/favicon.svg' %}" />
  <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}" />
  <link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}" />

  {% block extra_meta %}
  {% endblock %}

  {% tailwind_css %}
  {% block core_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block core_js %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4JLQ18T8FV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'default', {
      'ad_user_data': 'denied',
      'ad_personalization': 'denied',
      'ad_storage': 'denied',
      'analytics_storage': 'denied',
      'wait_for_update': 500,
    });  
    gtag('js', new Date());
    gtag('config', 'G-4JLQ18T8FV');
  </script>
  <script src="{% static 'js/nav.js' %}"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>JR Fly Fishing {% block extra_title %}{% endblock %}</title>
</head>
<body>
  {% include 'partials/navigation.html' %}

  {% if messages %}
    <div class="message-container"></div>
  {% endif %}

  {% block content %}
  {% endblock %}

  {% include 'partials/footer.html' %}
  <div class="ga-consent-banner fixed bottom-0 z-50 w-full bg-white p-5 hidden" id="cookie-consent">
    <div class="container mx-auto flex flex-row justify-between">
      <div class="">
        <h2 class="inter text-2xl font-semibold">Cookies Consent</h2>
        <p class="inter opacity-[0.6]">We use cookies to ensure that we give you the best experience on our website.</p>
      </div>
      <div class="flex justify-center flex-col">
        <button class="bg-primary px-4 py-2 rounded-md inter font-semibold hover:opacity-[0.6]" id="accept-cookies">Okay</button>
      </div>
    </div>
  </div>

  {% block postload_js %}
  <script src="{% static 'js/cookies-consent.js' %}"></script>
  {% endblock %}
</body>
</html>