{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| {{ article.title }}
{% endblock%}

{% block content %}
<section class="px-4 sm:px-6 lg:px-8 pt-20 pb-16 text-center lg:pt-32 dark-bg-overlay relative z-10"
  style="background-image: url('{% static 'home/img/placeholder.webp' %}'); background-size: cover; background-position: center;">
  <div class="container mx-auto relative z-20">

    <p class="mx-auto -mt-4 max-w-2xl text-lg sm:mt-6 text-white">
      Welcome to JR Fly Fishing
    </p>
    <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight sm:text-7xl text-white">
      About Us
    </h1>
    <p class="mx-auto mt-9 max-w-2xl text-lg sm:mt-6 text-white">
      Experience the art of fly fishing with JR Fly Fishing. Our expert guides, world-class locations, and passion for the sport make every trip unforgettable. Book your adventure today!
    </p>
  </div>
</section>
{% endblock %}