{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| Contact Us
{% endblock %}

{% block meta_desc %}
Contact us for more infromation about our services or to enquire about bookings.
{% endblock %}

{% block content %}
<section class="px-4 sm:px-6 lg:px-8 pt-20 pb-16 text-center lg:pt-32 dark-bg-overlay relative z-10"
  style="background-image: url('{% static 'home/img/placeholder.webp' %}'); background-size: cover; background-position: center;">
  <div class="container mx-auto relative z-20">

    <p class="mx-auto -mt-4 max-w-2xl text-lg sm:mt-6 text-white">
      Get In Touch
    </p>
    <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight sm:text-7xl text-white">
      Contact Us
    </h1>
    <p class="mx-auto mt-9 max-w-2xl text-lg sm:mt-6 text-white">
      Have questions? I'd love to hear from you! Whether you're looking to discuss a guided fishing trip, need more information about my services, or simply want to say hello, feel free to reach out using the contact form below.
    </p>
  </div>
</section>
<section class="container mx-auto py-[3rem] pb-0 flex md:flex-row flex-col justify-between text-center">
  <div class="basis-1/3 p-5">
    <p>Phone:</p>
    <a href="tel:+442345123123">02345123123</a>
  </div>
  <div class="basis-1/3 p-5">
    <p>Email:</p>
    <a href="mailto:info@email.com">info@email.com</a>
  </div>
  <div class="basis-1/3 p-5">
    <p>Socials:</p>
    <ul class="flex flex-row gap-8 justify-center">
      <li><a href="" target="_blank">
        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
        </svg>        
      </a></li>
      <li><a href="" target="_blank">
        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
        </svg>        
      </a></li>
      <li><a href="" target="_blank">
        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
          <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
        </svg>        
      </a></li>
    </ul>
  </div>
</section>
<section class="py-[5rem] container mx-auto">
  <div class="flex flex-col md:flex-row gap-4 justify-between">
    <div class="basis-1/2 p-5">
      {% if form.errors %}
      <div class="py-3" role="alert">
        <p>Please fix the following errors:</p>
        {% for field in form %}
          {% for error in field.errors %}
            <p class="inter text-xl font-semibold" style="color: red;">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <p class="inter text-xl font-semibold" style="color: red;">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% if success == False %}
      <form method="POST" action="{% url 'contact' %}" class="contact-form">
        {% csrf_token %}
        <fieldset>
          <legend class="text-2xl font-semibold pb-5">Contact Form</legend>
          {{ form }}
        </fieldset>
        <div class="flex flex-row justify-end w-full">
          <button type="submit" class="font-bold py-2 px-4 rounded">Submit</button>
        </div>
      </form>
      {% else %}
      <h2>Success</h2>
      <p>Thank you for reaching out! I'll get back to you as soon as possible.</p>
      {% endif %}
    </div>
    <div class="basis-1/2 p-5">
      {% for obj in thoughts %}
      <div class="py-3">
        <a class="flex flex-col md:flex-row justify-between gap-4" href="{% url 'thought_detail' obj.slug %}" >
          <div class="md:basis-1/2">
            <img src="{{ obj.thumbnail_image.url }}" alt="Placeholder Image" class="h-auto max-w-full rounded-xl" />
          </div>
          <div class="md:basis-1/2 flex flex-col justify-">
            <h2 class="font-bold text-xl pb-3">{{obj.title}}</h2>
            <p class="text-sm">{{ obj.excerpt }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include 'home/partials/testimonials.html' %}
{% endblock %}